
body {
  // height: 100%;
  // background-color: $brand-red; //rgb(207, 71, 71);
  // font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;

  // font-family: 'Anton', sans-serif;
  // font-family: 'Abril Fatface', cursive;
  // font-family: 'Bree Serif', serif;
  font-family: 'Shrikhand','Archivo Black',Arial,cursive;
  // font-family: 'Passion One', cursive;
  // font-family: 'Archivo Black', sans-serif;
}


.danladi-company-biggun {
  color: white;
  margin-bottom: 0.59em;

  .border {
    border: 3px solid #dee2e6!important;
    padding: 0.222em;
  }

  p {
    font-weight: lighter;
  }
}